@font-face {
    font-family: 'Cyberpunk';
    src: local('Cyberpunk'),
        url(./Fonts/Cyberpunk-Regular.ttf) format('truetype');
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0px;
    background-image: url('https://c.wallhere.com/photos/06/fc/cyberpunk_Cyberpunk_2077_yellow_background_CD_Projekt_RED-1954545.jpg!d');
    background-size: cover;
    background-color: rgb(253, 253, 0);
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.heading {
    margin: 0px 50px 25px 50px;
    padding: 25px;
    font-size: 75px;
    font-family: 'Cyberpunk', Impact, Haettenschweiler, 'Arial Narrow Bold',
        sans-serif;
    color: rgb(8, 19, 41);
}
.navbar {
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -125px;
    left: -15vw;
}
.navbar li {
    font-size: 30px;
    padding: 10px 50px;
}
.navbar li:hover {
    border-bottom: 5px solid red;
}
.navigation a,
a:active,
a:visited {
    text-decoration: none;
    color: black;
}
.description {
    text-align: center;
    position: relative;
    top: 10vh;
    width: 500px;
    margin: 0 auto;
}
.description div {
    padding: 20px;
}
.description a,
a:active,
a:visited {
    text-decoration: none;
}
.tagline {
    font-size: 50px;
}
.description b {
    color: red;
}
.summary {
    font-size: 21px;
}
.btn {
    border: 5px solid red;
    color: red;
    font-size: 24px;
    box-shadow: 0px 0px 10px black;
    background: linear-gradient(to right, red 50%, rgb(253, 253, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.25s ease-out;
}
.btn:hover {
    box-shadow: 0px 0px 0px black;
    color: black;
    background-position: left bottom;
}
.item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item-list a,
a:active,
a:visited {
    text-decoration: none;
}
.showitem-large,
.showitem-cart {
    border: 5px solid black;
    margin: 30px 50px;
    font-size: 24px;
    background-color: rgba(8, 19, 41, 0.53);
}
.showitem-large img,
.showitem-cart img {
    max-height: 400px;
    max-width: 450px;
}
.showitem-large div {
    padding: 3px 10px;
}
.showitem-large:hover {
    border: 5px solid rgb(239, 81, 81);
    color: rgb(239, 81, 81);
    transform: scale(1.1);
}
.showitem label {
    color: red;
}
.price {
    font-size: 18px;
}
.showitem {
    margin: 30px 50px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
}
.showitem img {
    height: 500px;
    width: 750px;
}
.item-description {
    padding: 25px;
}
.item-description div {
    padding: 10px;
}
.item-description .price {
    font-size: 24px;
}
.tag-line {
    font-size: 30px;
    color: rgb(239, 81, 81);
}
.name {
    font-size: 27px;
}
.desc {
    font-size: 18px;
}
.item-description .btn {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 25px;
}
